@using Gsv.Web.Views.Shared.Components.TopBarTitle
@model TopBarTitleViewModel

<img src='@Url.Content(Model.CompanyImageName)' alt="User" />
<p class="company-name">@Model.CompanyName</p>
<p class="app-name">@Model.AppName</p>
<p class="user-name">@Model.UserName</p>
