html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: gainsboro;
    z-index: 9999; 
}

.login-container {
    width: 400px;
    padding: 30px 30px 10px 30px;
}
.login-container .form-group {
    margin-bottom: 15px;
}

.edit-tbl {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #c9dae4;
  }
  .edit-tbl tr th {
    width: 35%;
    color: #000;
    padding: 4px 4px;
    font-weight: normal;
    background: #f7fafc;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }
  .edit-tbl tr td {
    width: 65%;
    padding: 4px 8px;
    line-height: 22px;
    word-break: break-all;
    border-bottom: 1px solid #e6e6e6;
  }

  .edit-tbl2 {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #c9dae4;
  }
  .edit-tbl2 tr th {
    width: 17.5%;
    color: #000;
    padding: 4px 4px;
    font-weight: normal;
    background: #f7fafc;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }
  .edit-tbl2 tr td {
    width: 32.5%;
    padding: 4px 8px;
    line-height: 22px;
    word-break: break-all;
    border-bottom: 1px solid #e6e6e6;
  }
