@{
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section customScript
{
    <script type="text/javascript">
        crud.dgDefault.name = 'Tenants';
        crud.dgDefault.pagination = false;
        crud.dgDefault.sortName = 'id';
        crud.dgDefault.columns = [[
            { field: "tenancyName", title: "名称", width: 80, sortable: true },
            { field: "name", title: "全名", width: 80, sortable: true },
            { field: "isActive", title: "活动", width: 80},
        ]];
        crud.useSelfSave = true;
    </script>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" title="添加" closed="true" modal="true" align="center" style="width: 450px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="TenacyName">TenancyName</label></th>
                <td><input name="tenancyName" class="easyui-textbox" data-options="required:true" style="width:100%"></td>
            </tr>
            <tr>
                <th><label for="Name">Name</label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true" style="width:100%"></td>
            </tr>
            <tr>
                <th><label for="ConnectionString">数据库连接串(可选)</label></th>
                <td><input name="connectionString" class="easyui-textbox" style="width:100%"></td>
            </tr>
            <tr>
                <th><label for="AdminEmailAddress">AdminEmailAddress</label></th>
                <td><input name="adminEmailAddress" class="easyui-textbox" style="width:100%"></td>
            </tr>
        </table>
    </form>
</div>
