@{
    Layout = "_Layout.cshtml";
}

@section styles {

}

@section scripts {
    <environment names="Development">
        <script src="~/view-resources/Views/Shared/_TaskLayout.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Shared/_TaskLayout.min.js" asp-append-version="true"></script>
    </environment>

    @*开放一个Section*@
    @RenderSection("taskScripts", false);
}

<div class="easyui-layout" fit="true">
    <!-- BEGIN of Object -->
    <div data-options="region:'north', split:true, border:false" style="min-height:120px; height:25%">
        <div id="tb">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="task.reload()">刷新</a>
        </div>
        <table id="dg" class="easyui-datagrid" toolbar="#tb"
                fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="place.Cn">
            <thead>
                <tr>
                    <th field="place" width="120" formatter="task.placeFormatter">场地</th>
                    <th field="capital" width="120" formatter="task.capitalFormatter">抵押权人</th>
                    <th field="categoryName" width="80">抵押物</th>
                    <th field="categoryUnitName" width="60">单位</th>
                    <th field="quantity" width="80" align="right">监管量</th>
                    <th field="yellowQuantity" width="80" align="right">监管黄线</th>
                    <th field="inventory" width="80" align="right" formatter="$.quantityFormatter">当前库存量</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- END of object -->
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west', title:'货架', split:true, collapsed:true, minWidth:80, width:180">
                <ul id="shelf" class="easyui-tree" style="margin-top:6px"></ul>
            </div>
            <div data-options="region:'center', border:false">
                <div id="tbList">
                    日期: <input id="dd" class="easyui-datebox" style="width:120px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="$('#dgList').datagrid('reload')">刷新</a>
                </div>
                <table id="dgList" class="easyui-datagrid" toolbar="#tbList"
                    fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="id">
                </table>
            </div>
        </div>
    </div>
</div>

@RenderBody()

