@model Gsv.Web.Models.Weixin.LoginViewModel
@{
    ViewBag.Title = "填写进库单";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

<form action ="/Weixin/InsertInBill" method="post" onsubmit="checkSubmit()">
    <!-- @Html.ValidationSummary() -->
    <div class="weui-cells">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd"><label for="workerCn" class="weui-label">柜台:</label></div>
            <div class="weui-cell__bd">
                <select class="weui-select" name="workerCn"  placeholder="选择柜台">
                    <option value="1">中国</option>
                    <option value="2">美国</option>
                    <option value="3">英国</option>
                </select>
            </div>
        </div>
        <div class="weui-cell" style="margin-bottom:10px">
            <input type="hidden" id="returnUrl" name="ReturnUrl" />
            <div class="weui-cell__hd"><label for="workerCn" class="weui-label">来源:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="workerCn" type="text" placeholder="选择来源" />
            </div>
        </div>
        <div class="weui-cell" style="margin-bottom:10px">
            <div class="weui-cell__hd"><label for="Password" class="weui-label">称重）:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="password" type="number" placeholder="重量（克）" />
            </div>
        </div>
        <div class="weui-cell" style="margin-bottom:10px">
            <div class="weui-cell__hd"><label for="DeviceId" class="weui-label">照片:</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" name="deviceId" type="text" readonly="readonly" />
            </div>
        </div>
        <div class="weui-cell">
            <input type="submit" value="提交" class="weui-btn weui-btn_primary" />
        </div>
    </div>
</form>

@section footer
{
    <script type="text/javascript">
        var checkSubmitFlg = false; 

        function checkSubmit(){ 
            if(checkSubmitFlg == true) return false; //当表单被提交过一次后checkSubmitFlg将变为true,根据判断将无法进行提交。
            checkSubmitFlg = true; 
            return true; 
        } 
    </script>
}