@using Gsv
@using Gsv.Objects
@{
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section customScript
{
    <script type="text/javascript">
        crud.dgDefault.name = 'Places';
        crud.dgDefault.sortName = 'cn';
        crud.dgDefault.columns = [[
            { field: "cn", title: "编号", width: 60, sortable: true },
            { field: "name", title: "名称", width: 100 },
            { field: "contact", title: "联系方式", width: 100 },
            { field: "weixinIds", title: "通知微信列表", width: 100 },
            { field: "longitude", title: "经度", width: 80 },
            { field: "latitude", title: "纬度", width: 80 },
       ]];
    </script>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" align="center" style="width: 400px; padding: 10px;">
    <form id="fm" class="easyui-form" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="cn">编号：</label></th>
                <td><input name="cn" class="easyui-textbox" data-options="required:true, validType:'length[1, @Capital.MaxCnLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="name">名称:</Label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true, validType:'length[1, @GsvConsts.NormalStringFieldLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="contact">联系方式:</Label></th>
                <td><input name="contact" class="easyui-textbox" data-options="validType:'length[1, @GsvConsts.NormalStringFieldLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="weixinIds">微信列表:</Label></th>
                <td><input name="weixinIds" class="easyui-textbox" data-options="validType:'length[1, @GsvConsts.NormalStringFieldLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="longitude">经度:</Label></th>
                <td><input name="longitude" class="easyui-numberbox" data-options="precision:6" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="latitude">纬度:</Label></th>
                <td><input name="latitude" class="easyui-numberbox" data-options="precision:6" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
